@using CMS.DataAccess.Core.Extension
@model CMS.Dashboard.Models.ProductDetailModel
@{
    Layout = "~/Views/Shared/_LayoutFrontend.cshtml";
    var product = Model.ProductResponse;
    var relatedProducts = Model.RelatedProducts;
}
<div class="container">
    <div id="main-content">
        <div class="col-xs-12 col-md-3">
            <div id="sidebar-wrapper">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-section">
                            <div class="panel-heading">
                                <h2 class="cur-pointer accordion-toggle" data-toggle="collapse" data-target="#collapse2">
                                    Thịt bò
                                </h2>
                            </div>
                            <div id="collapse2" class="collapse in" style="height: auto;">
                                <div class="panel-body">
                                    <div class="form-group">
                                        <div class="item">
                                            <a href="#">Thịt bò 1</a>
                                        </div>
                                        <div class="item">
                                            <a href="#">Thịt bò 1</a>
                                        </div>
                                        <div class="item">
                                            <a href="#">Thịt bò 1</a>
                                        </div>
                                        <div class="item">
                                            <a href="#">Thịt bò 1</a>
                                        </div>
                                        <div class="item">
                                            <a href="#">Thịt bò 1</a>
                                        </div>
                                        <div class="item">
                                            <a href="#">Thịt bò 1</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-section">
                            <div class="panel-heading">
                                <h2 class="cur-pointer accordion-toggle" data-toggle="collapse" data-target="#collapse3">
                                    Thịt bò
                                </h2>
                            </div>
                            <div id="collapse3" class="collapse" style="height: auto;">
                                <div class="panel-body">
                                    <div class="form-group">
                                        <div class="item">
                                            <a href="#">Thịt bò 1</a>
                                        </div>
                                        <div class="item">
                                            <a href="#">Thịt bò 1</a>
                                        </div>
                                        <div class="item">
                                            <a href="#">Thịt bò 1</a>
                                        </div>
                                        <div class="item">
                                            <a href="#">Thịt bò 1</a>
                                        </div>
                                        <div class="item">
                                            <a href="#">Thịt bò 1</a>
                                        </div>
                                        <div class="item">
                                            <a href="#">Thịt bò 1</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-section">
                            <div class="panel-heading">
                                <h2 class="cur-pointer accordion-toggle" data-toggle="collapse" data-target="#collapse4">
                                    Thịt bò
                                </h2>
                            </div>
                            <div id="collapse4" class="collapse" style="height: auto;">
                                <div class="panel-body">
                                    <div class="form-group">
                                        <div class="item">
                                            <a href="#">Thịt bò 1</a>
                                        </div>
                                        <div class="item">
                                            <a href="#">Thịt bò 1</a>
                                        </div>
                                        <div class="item">
                                            <a href="#">Thịt bò 1</a>
                                        </div>
                                        <div class="item">
                                            <a href="#">Thịt bò 1</a>
                                        </div>
                                        <div class="item">
                                            <a href="#">Thịt bò 1</a>
                                        </div>
                                        <div class="item">
                                            <a href="#">Thịt bò 1</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="related">
                    @if (relatedProducts.Any())
                    {
                        foreach (var related in relatedProducts)
                        {
                            var productUrl = Url.Action("ProductDetail", "Home", new { slug = related.Slug });
                            <div class="item">
                                <img src="@related.Thumbnail" title="@related.Title" alt="@related.Slug"/>
                                <h2>
                                    <a href="@productUrl" title="@related.Name">
                                        @related.Name
                                    </a>
                                </h2>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-9">
            <div id="page-content-wrapper">
                <div class="container-fluid products-detail">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="name">
                                @product.Name
                            </h1>
                        </div>
                        <div class="col-md-6">
                            <div class="fotorama" data-nav="thumbs" data-allowfullscreen="true">
                                @if (product.Images != null)
                                {
                                    foreach (var image in product.Images)
                                    {
                                        <img src="@image" title="@product.Name" alt="@product.Name">
                                    }
                                }
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="product-subcontent">
                                @Html.Raw(product.SubContent)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="product-content">
                            @Html.Raw(product.BodyContent)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>