@model MvcConnerstore.Collections.IPagedList<CMS.DataAccess.Core.Domain.BlogCategory>
@{
    ViewBag.Title = "Danh sách nhóm tin";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<div class="breadLine">
    <ul class="breadcrumb">
        <li><a href="#">Trang chủ</a> <span class="divider">></span></li>
        <li class="active">Danh sách nhóm tin</li>
    </ul>
</div>
<div class="workplace">
    <div class="row-fluid">
        <form action="" method="post">
            <div class="span12">
                <input type="hidden" value="@Model.PageIndex" name="page" id="page" />
                <div class="block-fluid table-sorting" style="display: inline-block; width: 100%;">
                    <div class="head">
                        <a href="@Url.Action("Deletes", "BlogCategory")" class="btn btn-flat btn-delete">Xóa</a>
                        <a href="@Url.Action("Create", "BlogCategory")" class="btn btn-flat btn-create fancybox fancybox.iframe">Thêm mới</a>
                    </div>
                    <table class="table" id="tSortable_2">
                        <thead>
                            <tr>
                                <th width="5%">
                                    <input type="checkbox" name="checkall" />
                                </th>
                                <th width="7%">ID</th>
                                <th width="">Tên nhóm tin</th>
                                <th width="">Hình ảnh</th>
                                <th width="">Số bài viết</th>
                                <th width="10%">Chức năng</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                var blogCount = item.Blogs?.Count(s => s.BlogCategoryId == item.Id) ?? 0;
                                string strLevel = "";
                                int iLen = 0;
                                iLen = item.Level.Length;
                                while (iLen > 5 && iLen % 5 == 0)
                                {
                                    strLevel += "_____";
                                    iLen = iLen - 5;
                                }
                                <tr>
                                    <td>
                                        <input type="checkbox" name="cbItems" value="@item.Id" />
                                    </td>
                                    <td>@item.Id</td>
                                    <td>@strLevel@item.Name</td>
                                    <td>
                                        <img src="@item.Thumbnail" style="width: 50px" />
                                    </td>
                                    <td>
                                        @{
                                            @Html.Raw("<b style=\"font-site: 15px\">[ " + blogCount + " ]</b>")
                                            <a href="@Url.Action("Create", "Blog", new {area = "Admin", gr = item.Id})">Thêm mới bài viết</a>
                                        }
                                    </td>
                                    <td class="td-func">
                                        @if (item.IsActive == true)
                                        {
                                            <a href="@Url.Action("Active", "GroupBlog", new {area = "Admin", id = item.Id})">
                                                <img src="~/Dashboard/img/icons/func/active.png" />
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="@Url.Action("Active", "GroupBlog", new {area = "Admin", id = item.Id})">
                                                <img src="~/Dashboard/img/icons/func/not-active.png" />
                                            </a>
                                        }
                                        <a href="@Url.Action("Edit", "GroupBlog", new {area = "Admin", id = item.Id})">
                                            <img src="~/Dashboard/img/icons/func/note-edit.png" />
                                        </a>
                                        <a href="@Url.Action("Delete", "GroupBlog", new {area = "Admin", id = item.Id})"
                                           onclick="javascript:return confirm('Bạn có chắc chắc muốn xóa bản ghi này? Nếu bản ghi là nhóm cha thì các nhóm con của nó cũng sẽ bị xóa');return false; ">
                                            <img src="~/Dashboard/img/icons/func/trash.png" />
                                        </a>
                                    </td>
                                </tr>
                                            }
                        </tbody>
                    </table>
                    <div class="clear"></div>
                    @Html.Raw(ViewBag.Paging)
                </div>
            </div>
        </form>
    </div>
</div>
