@using CMS.Dashboard.Code
@model CMS.DataAccess.Core.Domain.SiteSetting
@{
    Layout = "/Views/Shared/_LayoutIframe.cshtml";
}
<div class="iframe-content">
    <form class="form-horizontal form-popup ajaxSumitForm" action="@Url.Action("Edit", "SiteSetting")" method="post" id="blogCategory">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(m => m.Id)
        <div class="row-fluid">
            <div class="span12">
                <div class="head">
                    <span class="title">Sửa thông tin SiteSetting</span>
                </div>
                <div class="block-fluid form-body">
                    <div class="row-form">
                        <div class="span12">
                            <label for="">Nhóm cha:<em>*</em></label>
                            @Html.DropDownList("Group", Unitities.GetSiteSettingGroups())
                            @Html.ValidationMessageFor(model => model.Group)
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="row-form">
                        <div class="span12">
                            <label for="">Từ khóa:<em>*</em></label>
                            @Html.DropDownList("Key", Unitities.GetSiteSettingKeys(), new { @disabled = "disable" })
                            @Html.ValidationMessageFor(model => model.Key)
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="row-form">
                        <div class="span12">
                            <label for="">Giá trị:<em>*</em></label>
                            @Html.TextAreaFor(model => model.Value, new { @placeholder = "Giá trị" })
                            @Html.ValidationMessageFor(model => model.Value)
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="row-form">
                        <input type="submit" class="btn btn-create btn-flat" value="Đồng Ý" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>