@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<div class="workplace">
    @Html.Partial("Breadcrumb")
    <div class="row-fluid">
        <form action="" method="post">
            <div class="span12">
                <div class="block-fluid table-sorting" style="display: inline-block; width: 100%;">
                    <div class="head">
                        <a href="@Url.Action("Create", "SiteSetting")" class="btn btn-flat btn-create iframe-fancybox">Thêm mới</a>
                    </div>
                    <div id="example">
                        <div id="gridSource"></div>
                        @section scripts{
                            <script>
                                (function () {
                                    "use strict";

                                    angular.module("microCMS").constant("options", {

                                    });
                                })();

                                $(document)
                                    .ready(function() {
                                        $("#gridSource")
                                            .kendoGrid({
                                                dataSource: {
                                                    transport: {
                                                        read: "@Url.Action("Get", "SiteSetting")"
                                                    },
                                                    pageSize: 20,
                                                    schema: {
                                                        data: "data",
                                                        total: "total"
                                                    },
                                                    serverPaging: true,
                                                    serverFiltering: true,
                                                    serverSorting: true
                                                },
                                                maxheight: 550,
                                                scrollable: true,
                                                sortable: true,
                                                filterable: true,
                                                pageable: {
                                                    input: true,
                                                    numeric: false
                                                },
                                                columns: [
                                                    {
                                                        field: "Id",
                                                        title: "ID",
                                                        width: "50px",
                                                        filterable: false
                                                    },
                                                    {
                                                        field: "Key",
                                                        title: "Từ khóa"
                                                    },
                                                    {
                                                        field: "Value",
                                                        title: "Giá trị",
                                                        filterable: false,
                                                    },
                                                    {
                                                        field: "Group",
                                                        title: "Nhóm",
                                                        filterable: false,
                                                    },
                                                    {
                                                        title: "Chức năng",
                                                        template:
                                                            "<a href='@Url.Action("Edit", "SiteSetting")/#= Id #' class='iframe-fancybox'><img src='/Content/Dashboard/img/icons/func/edit.png' /></a>" +
                                                                "<a data-href=\"@Url.Action("Delete", "SiteSetting")\" onclick=\"onDelete(this, #= Id #);\"><img src='/Content/Dashboard/img/icons/func/trash.png' /></a>",
                                                        attributes: {
                                                            "class": "td-func"
                                                        },
                                                        width: "110px",
                                                        filterable: false
                                                    }
                                                ]
                                            });
                                    });
                            </script>
                        }
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </form>
    </div>
</div>
