@using CMS.Dashboard.Code
@model CMS.DataAccess.Models.ProductRequest
@{
    ViewBag.Title = "Thêm mới sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="breadLine">
    <ul class="breadcrumb">
        <li><a href="#">Trang chủ</a> <span class="divider">></span></li>
        <li><a href="@Url.Action("Index", "Product")">Danh sách sản phẩm</a> <span class="divider">></span></li>
        <li class="active">Thêm mới sản phẩm</li>
    </ul>
</div>
<form action="@Url.Action("Create", "Product")" method="post" id="validate" class="form-content">
    @Html.ValidationSummary(true)
    <div class="workplace">
        <div class="row-fluid">
            <div class="span12 no-margin">
                <h1 class="page-header">
                    Thêm mới sản phẩm
                    <small style="display: block; margin-top: 5px;"></small>
                </h1>
            </div>
            <div class="clearfix"></div>
            <div class="span12 no-margin">
                <div class="span8">
                    <div class="block-fluid">
                        <div class="row-form">
                            <label for="">Tên nhóm sản phẩm:<em>*</em></label>
                            @Html.TextBoxFor(m => m.Name, new { placeholder = "Tên bài sản phẩm" })
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>
                        <div class="row-form">
                            <label for="">Mô tả ngắn sản phẩm:<em>*</em></label>
                            @Html.TextAreaFor(m => m.SubContent, new { placeholder = "Mô tả ngắn sản phẩm" })
                            @Html.ValidationMessageFor(model => model.SubContent)
                        </div>
                        <div class="row-form">
                            <label for="">Nội dung sản phẩm:<em>*</em></label>
                            @Html.TextAreaFor(m => m.BodyContent, new { placeholder = "Nội dung sản phẩm", style = "height: 500px;" })
                            @Html.ValidationMessageFor(model => model.BodyContent)
                        </div>
                        <h4 style="margin-left: 20px; text-decoration: underline;">Cấu hình SEO</h4>
                        <div class="row-form">
                            <label for="">Slug:</label>
                            @Html.TextBoxFor(m => m.Slug, new { placeholder = "Slug" })
                            @Html.ValidationMessageFor(model => model.Slug)
                        </div>
                        <div class="row-form">
                            <div class="span12">
                                <label for="">Meta Description:</label>
                                @Html.TextAreaFor(m => m.Description, new { placeholder = "Meta Description" })
                                @Html.ValidationMessageFor(model => model.Description)
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="row-form">
                            <div class="span12">
                                <label for="">Meta Keyword</label>
                                @Html.TextAreaFor(m => m.Keyword, new { placeholder = "Meta Keyword" })
                                @Html.ValidationMessageFor(model => model.Keyword)
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <div class="block-fluid">
                        <div class="row-form">
                            <label for="">Chọn nhóm sản phẩm:<em>*</em></label>
                            @Html.DropDownList("ProductCategoryId", Unitities.ProductCategoryTree())
                            @Html.ValidationMessageFor(model => model.ProductCategoryId)
                        </div>
                    </div>
                    <div class="block-fluid">
                        <div class="row-form">
                            <label for="">Chọn ảnh:<em>*</em></label>
                            @Html.TextBoxFor(m => m.Thumbnail, new { placeholder = "Chọn ảnh đại diện" })
                            @Html.ValidationMessageFor(model => model.Thumbnail)
                            <a href="#" id="btImgBrowse" class="btn btn-flat btn-create" onclick="browseImage('Thumbnail');">Chọn ảnh đại diện</a>
                        </div>
                    </div>
                </div>
                <div class="span4" style="margin-top: 10px;">
                    <div class="head head-custom" style="margin-top: 10px;">
                        <div class="isw-picture"></div>
                        <h1>Hình ảnh</h1>
                        <div class="clear"></div>
                    </div>
                    <div class="block-fluid">
                        <div class="row-form">
                            <div class="span12">
                                @for (int i = 0; i < 5; i++)
                                {
                                    <div class="img-upload">
                                        @Html.TextBoxFor(m => m.Images[i], new {placeholder = "Hình ảnh sản phẩm"})
                                        <a class="image-browse" onclick="browseImage('Images_@Html.Raw(i)_')">
                                            <i class="isw-plus"></i>
                                        </a>
                                        <a class="image-browse del">
                                            <i class="isw-delete"></i>
                                        </a>
                                    </div>
                                }
                                <div class="img-upload">
                                    <input type="button" class="btn btn-create btn-flat" value="Thêm Ảnh">
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="span4" style="margin-top: 10px;">
                    <div class="head head-custom" style="margin-top: 10px;">
                        <div class="isw-tag"></div>
                        <h1>Thông tin giá</h1>
                        <div class="clear"></div>
                    </div>
                    <div class="block-fluid">
                        <div class="row-form">
                            <div class="span12">
                                <div class="span6">
                                    <label for="">Đơn giá:<em>*</em></label>
                                    @Html.TextBoxFor(m => m.Price, new { placeholder = "Đơn giá" })
                                    @Html.ValidationMessageFor(model => model.Price)
                                </div>
                                <div class="span6">
                                    <label for="">Giảm giá:<em>*</em></label>
                                    @Html.TextBoxFor(m => m.Discount, new { placeholder = "Giảm giá", Value = "0" })
                                    @Html.ValidationMessageFor(model => model.Discount)
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="row-form discount">
                            <label for="">Loại giảm giá:<em>*</em></label>
                            <div class="span12 no-margin">
                                <div class="span6">
                                    @Html.RadioButtonFor(model => model.DiscountType, 1, new { id = "Value", @checked = "checked" })
                                    <label for="Value">Giá trị</label>
                                </div>
                                <div class="span6">
                                    @Html.RadioButtonFor(model => model.DiscountType, 2, new { id = "Percent" })
                                    <label for="Percent">Phần trăm</label>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="span4" style="margin-top: 10px;">
                    @{
                        Html.RenderPartial("_MetaTags");
                    }
                </div>
                <div class="span4" style="margin-top: 10px;">
                    <div class="block-fluid">
                        <div class="row-form">
                            <div class="span12">
                                <div class="span6">
                                    <label class="checkbox inline lb-checkbox no-padding">
                                        @Html.CheckBoxFor(model => model.PinToTop)
                                        Gim trang chủ
                                    </label>
                                </div>
                                <span class="span6">
                                    <label class="checkbox inline lb-checkbox no-padding">
                                        @Html.CheckBoxFor(model => model.IsActive)
                                        Cho phép hiển thị
                                    </label>
                                </span>
                            </div>
                            <input type="submit" class="btn btn-create btn-flat" value="Đồng Ý" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
    $(document).ready(function () {
        initFullCkEditor('BodyContent');
    })
</script>