@using CMS.Dashboard.Code
@model CMS.DataAccess.Models.ProductRequest
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form action="@Url.Action("Create", "Product")" method="post" id="validate" class="form-content">
    @Html.ValidationSummary(true)
    <div class="workplace">
        @Html.Partial("Breadcrumb")
        <div class="row-fluid">
            <div class="span12 no-margin">
                <div class="span8">
                    <div class="head head-custom">
                        <div class="isw-grid"></div>
                        <h1>Thông tin</h1>
                        <div class="clear"></div>
                    </div>
                    <div class="block-fluid">
                        <div class="row-form">
                            <label for="">Tên nhóm sản phẩm:<em>*</em></label>
                            @Html.TextBoxFor(m => m.Name, new { placeholder = "Tên bài sản phẩm" })
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>
                        <div class="row-form">
                            <label for="">Mô tả ngắn sản phẩm:<em>*</em></label>
                            @Html.TextAreaFor(m => m.SubContent, new { placeholder = "Mô tả ngắn sản phẩm" })
                            @Html.ValidationMessageFor(model => model.SubContent)
                        </div>
                        <div class="row-form">
                            <label for="">Nội dung sản phẩm:<em>*</em></label>
                            @Html.TextAreaFor(m => m.BodyContent, new { placeholder = "Nội dung sản phẩm", style = "height: 500px;" })
                            @Html.ValidationMessageFor(model => model.BodyContent)
                        </div>
                        <h4 style="margin-left: 20px; text-decoration: underline;">Cấu hình SEO</h4>
                        <div class="row-form">
                            <label for="">Slug:</label>
                            @Html.TextBoxFor(m => m.Slug, new { placeholder = "Slug" })
                            @Html.ValidationMessageFor(model => model.Slug)
                        </div>
                        <div class="row-form">
                            <div class="span12">
                                <label for="">Meta Description:</label>
                                @Html.TextAreaFor(m => m.Description, new { placeholder = "Meta Description" })
                                @Html.ValidationMessageFor(model => model.Description)
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="row-form">
                            <div class="span12">
                                <label for="">Meta Keyword</label>
                                @Html.TextAreaFor(m => m.Keyword, new { placeholder = "Meta Keyword" })
                                @Html.ValidationMessageFor(model => model.Keyword)
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <div class="head head-custom">
                        <div class="isw-calc"></div>
                        <h1>Thông tin giá</h1>
                        <div class="clear"></div>
                    </div>
                    <div class="block-fluid">
                        <div class="row-form">
                            <label for="">Chọn nhóm sản phẩm:<em>*</em></label>
                            @Html.DropDownList("ProductCategoryId", Unitities.ProductCategoryTree())
                            @Html.ValidationMessageFor(model => model.ProductCategoryId)
                        </div>
                    </div>
                    <div class="block-fluid">
                        <div class="row-form">
                            <div class="span12">
                                <div class="span12">
                                    <label for="">Đơn giá:<em>*</em></label>
                                    @Html.TextBoxFor(m => m.Price, new { placeholder = "Đơn giá" })
                                    @Html.ValidationMessageFor(model => model.Price)
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="row-form discount">
                            <label for="">Giảm giá:<em>*</em></label>
                            <div class="span12 no-margin">
                                <div class="span6">
                                    <div class="span6">
                                        @Html.TextBoxFor(m => m.Discount, new { placeholder = "Giảm giá", Value = "0" })
                                        @Html.ValidationMessageFor(model => model.Discount)
                                    </div>
                                </div>
                                <div class="span6">
                                    @Html.CheckBoxFor(m => m.DiscountIsPercent)
                                    <label for="DiscountIsPercent">Phần trăm</label>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="span4" style="margin-top: 10px;">
                    <div class="head head-custom" style="margin-top: 10px;">
                        <div class="isw-picture"></div>
                        <h1>Hình ảnh</h1>
                        <div class="clear"></div>
                    </div>
                    <div class="block-fluid">
                        <div class="row-form">
                            <label for="">Chọn ảnh đại diện:<em>*</em></label>
                            <div class="img-upload">
                                @Html.TextBoxFor(m => m.Thumbnail, new { placeholder = "Chọn ảnh đại diện" })
                                <a class="media image-browse" id="btImgBrowse" ckfinder-browse data-ref-id="Thumbnail">
                                    <i class="isw-plus"></i>
                                </a>
                                @Html.ValidationMessageFor(model => model.Thumbnail)
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div my-customer></div>
                        <div class="row-form">
                            <label for="">Danh sách ảnh sản phẩm:<em>*</em></label>
                            <div class="span12 no-margin">
                                <div class="img-upload" ng-repeat="item in productImages track by $index">
                                    <input id="Images_{{$index}}_" name="Images[{{$index}}]" placeholder="Hình ảnh sản phẩm" type="text" value="">
                                    <a class="media image-browse" ckfinder-browse data-ref-id="Images_{{$index}}_">
                                        <i class="isw-plus"></i>
                                    </a>
                                    <a class="media image-browse del" ng-click="productImages.splice($index, 1)" ng-show="$index == productImages.length - 1">
                                        <i class="isw-delete"></i>
                                    </a>
                                </div>
                                <div class="img-upload">
                                    <input type="button" class="btn btn-create btn-flat" ng-click="addProductImage()" value="Thêm Ảnh">
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="span4" style="margin-top: 10px;">
                    @{
                        Html.RenderPartial("_MetaTags");
                    }
                </div>
                <div class="span4" style="margin-top: 10px;">
                    <div class="block-fluid">
                        <div class="row-form">
                            <div class="span12">
                                <div class="span6">
                                    <label class="checkbox inline lb-checkbox no-padding">
                                        @Html.CheckBoxFor(model => model.PinToTop)
                                        Gim trang chủ
                                    </label>
                                </div>
                                <span class="span6">
                                    <label class="checkbox inline lb-checkbox no-padding">
                                        @Html.CheckBoxFor(model => model.IsActive)
                                        Cho phép hiển thị
                                    </label>
                                </span>
                            </div>
                            <input type="submit" class="btn btn-create btn-flat" value="Đồng Ý" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
    $(document).ready(function () {
        initFullCkEditor('BodyContent');
    })
</script>