<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>@ViewData["Title"] - Dashboard</title>

    <title>@ViewBag.Title</title>
    <link rel="icon" type="image/ico" href="~/Content/Dashboard/favicon.ico" />
    <link href="~/Content/Dashboard/css/select2.css" rel="stylesheet" />
    <link href="~/Content/Dashboard/css/stylesheets.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Dashboard/plugins/kendo/css/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/Dashboard/plugins/kendo/css/kendo.default.min.css" rel="stylesheet" />
    <link href="~/Content/Dashboard/css/custom.css" rel="stylesheet" />
</head>
<body ng-app="microCMS">
    <div class="header">
        <a class="logo" href="http://webvietgroup.com/" target="_blank">
            <img src="~/Content/Dashboard/img/logo-wvg-mini.png" alt="thiet-ke-web" title="WebVietGroup - Nơi khởi đầu cho một thương hiệu" />
        </a>
        <ul class="header_menu">
            <li class="list_icon"><a href="#">&nbsp;</a></li>
        </ul>
    </div>
    <div class="menu">
        <div class="breadLine">
            <div class="arrow"></div>
            <div class="adminControl active">
                Hi, FullName
            </div>
        </div>

        <div class="admin">
            <div class="image">
                <img src="~/Content/Dashboard/img/users/aqvatarius.jpg" class="img-polaroid" />
            </div>
            <ul class="control">
                <li><span class="icon-comment"></span><a href="#">Tin nhắn</a> <a href="#" class="caption red">0</a></li>
                <li><span class="icon-cog"></span><a href="@Url.Action("Setting", "Auth", new { area = "Auth" })">Cài đặt</a></li>
                <li><span class="icon-share-alt"></span><a href="@Url.Action("Logout", "Auth", new { area = "Auth" })">Thoát</a></li>
            </ul>
            <div class="info">
                <span>Welcom back!</span>
            </div>
        </div>

        <ul class="navigation">
            <li>
                <a href="/">
                    <span class="isw-grid"></span><span class="text">Home</span>
                </a>
            </li>
            @*<li class="openable @ViewBag.Menu">
                    <a href="#">
                        <span class="isw-list"></span><span class="text">Menu</span>
                    </a>
                    <ul>
                        <li>
                            <a href="@Url.Action("Index", "Menu", new { area = "Admin" })">
                                <span class="icon-chevron-right"></span><span class="text">Danh sách Menu</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Create", "Menu", new { area = "Admin" })">
                                <span class="icon-chevron-right"></span><span class="text">Thêm mới Menu</span>
                            </a>
                        </li>
                    </ul>
                </li>*@
            <li class="openable @ViewBag.News">
                <a href="#">
                    <span class="isw-list"></span><span class="text">Bài viết </span>
                </a>
                <ul>
                    <li>
                        <a href="@Url.Action("Index", "BlogCategory")">
                            <span class="icon-chevron-right"></span><span class="text">Nhóm bài viết</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Blog")">
                            <span class="icon-chevron-right"></span><span class="text">Bài viết</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="openable @ViewBag.Product">
                <a href="#">
                    <span class="isw-list"></span><span class="text">Sản phẩm</span>
                </a>
                <ul>
                    <li>
                        <a href="@Url.Action("Index", "ProductCategory")">
                            <span class="icon-chevron-right"></span><span class="text">Nhóm sản phẩm</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Product")">
                            <span class="icon-chevron-right"></span><span class="text">Sản phẩm</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="openable @ViewBag.Question">
                <a href="#">
                    <span class="isw-list"></span><span class="text">Đề thi</span>
                </a>
                <ul>
                    <li>
                        <a href="@Url.Action("Index", "ExameCategory")">
                            <span class="icon-chevron-right"></span><span class="text">Nhóm đề thi</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Exam")">
                            <span class="icon-chevron-right"></span><span class="text">Đề thi</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "QuestionLibraries")">
                            <span class="icon-chevron-right"></span><span class="text">Thư viện câu hỏi</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="openable @ViewBag.SiteSetting">
                <a href="#">
                    <span class="isw-list"></span><span class="text">Cấu hình</span>
                </a>
                <ul>
                    <li>
                        <a href="@Url.Action("Index", "ProductSetting")">
                            <span class="icon-chevron-right"></span><span class="text">Cấu hình sản phẩm</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "SiteSetting")">
                            <span class="icon-chevron-right"></span><span class="text">Cấu hình Website</span>
                        </a>
                    </li>
                </ul>
            </li>
            @*
                <li class="openable @ViewBag.SlideShow">
                    <a href="#">
                        <span class="isw-list"></span><span class="text">Banner - Hình ảnh</span>
                    </a>
                    <ul>
                        <li>
                            <a href="@Url.Action("Index", "SlideShow", new { area = "Admin" })">
                                <span class="icon-chevron-right"></span><span class="text">Danh sách hình ảnh</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="openable @ViewBag.Video">
                    <a href="#">
                        <span class="isw-list"></span><span class="text">Thư viện Video</span>
                    </a>
                    <ul>
                        <li>
                            <a href="@Url.Action("Index", "GroupVideo", new { area = "Admin" })">
                                <span class="icon-chevron-right"></span><span class="text">Danh sách nhóm video</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Video", new { area = "Admin" })">
                                <span class="icon-chevron-right"></span><span class="text">Danh sách video</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="openable @ViewBag.ImageLibrary">
                    <a href="#">
                        <span class="isw-list"></span><span class="text">Thư viện hình ảnh</span>
                    </a>
                    <ul>
                        <li>
                            <a href="@Url.Action("Index", "GroupImageLibrary", new {area = "Admin"})">
                                <span class="icon-chevron-right"></span><span class="text">Danh sách nhóm hình ảnh</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "ImageLibrary", new {area = "Admin"})">
                                <span class="icon-chevron-right"></span><span class="text">Danh sách hình ảnh</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="openable @ViewBag.SiteSettings">
                    <a href="#">
                        <span class="isw-list"></span><span class="text">Cấu hình</span>
                    </a>
                    <ul>
                        <li>
                            <a href="@Url.Action("Index", "SiteSetting", new { area = "Admin" })">
                                <span class="icon-chevron-right"></span><span class="text">Cấu hình</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "CacheManager", new {area = "Admin"})">
                                <span class="icon-chevron-right"></span><span class="text">Rebuil cache</span>
                            </a>
                        </li>
                    </ul>
                </li>*@
        </ul>
        <div class="dr"><span></span></div>
    </div>
    <div class="content" ng-controller="dashboardController">
        @RenderBody()
    </div>
    <div class="ui-widget-overlay" style="width: 100%; height: 1141px; z-index: 1001; display: none"></div>
    <script src="~/Content/Dashboard/js/jquery-1.8.3.js"></script>
    <script src="~/Content/Dashboard/js/jquery-ui.min.js"></script>
    <script src="~/Content/Dashboard/js/plugins/bootstrap.min.js"></script>
    <script src="~/Content/Dashboard/js/plugins/fancybox/jquery.fancybox.pack.js"></script>
    <script src="~/Content/Dashboard/js/plugins/select2/select2.min.js"></script>
    <script src="~/Content/Dashboard/plugins/ckeditor/ckeditor.js"></script>
    <script src="~/Content/Dashboard/plugins/ckfinder/ckfinder.js" type="text/javascript"></script>
    <script src="~/Content/Dashboard/lib/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/Content/Dashboard/lib/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
    <script src="~/Content/Dashboard/plugins/kendo/js/kendo.all.min.js"></script>
    <script src="~/Content/Dashboard/plugins/kendo/js/console.js"></script>
    <script src="~/Content/Dashboard/plugins/kendo/js/products.js"></script>
    <script src="~/Content/Dashboard/js/actions.js"></script>

    <script src="~/Content/Dashboard/js/angular.min.js"></script>
    <script src="~/Content/Dashboard/js/controllers/dashboardController.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
